.admin-container {
    display: flex;
    background:#f6f5f1 ;
    .admin-sidebar {}


    .pro-sidebar {
        height: 100vh !important;

        .pro-sidebar-inner {
            background: #f6f5f1;
            color: black;
            .pro-icon {
                color: #f6f5f1;
            }

            .sidebar-header-custom {
                display: flex;
                align-items: center;
                height: 40px;

                .title-center{
                    width: 100%;
                    display: flex;
                    justify-content: center;      
                    font-size: 18px;      
                }
                &.collapsed{
                    height: 40px;
                    flex-direction: column;
                    
                    .title-center{
                        font-size: 14px;
                    }

                }
                
                
            }
            .pro-menu {
                .pro-menu-item{
                    .react-slidedown{
                        background: #f6f5f1;
                    }
                    .popper-inner{
                        background-color: #f6f5f1 !important;
                    }

                }
            }
            .pro-sidebar-footer{
                .sidebar-btn-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;


                .sidebar-btn {
                    transition: width 0.3s;
                    width: 150px;
                    padding: 1px 15px;
                    border-radius: 40px;
                    background: rgba(20, 20, 20, 0.05);
                    color: #1a1a1a;
                    text-decoration: none;
                    margin: 0 auto;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    span {
                        margin-left: 5px;
                        font-size: 13px;
                    }

                    &:hover {
                        color: rgb(145, 138, 138);

                    }
                }
            }

            }
            
        }
    }
    .admin-content{
        width: 100%;
        .admin-header{
            height: 40px;
           
        }
        .admin-main{
           
        }
    }

}



